#table {
    margin-top: 25px;
    display: none;
    overflow: scroll;
    width: 100%;
    height: 350px;
    padding: 5px;
    border: solid 1px black;
    margin-bottom: 20px;
}
#formBtnSend, .no_show {
    display: none;
}
.row_num {
    background: #999999;
}
.glyphicon {
    cursor: pointer;
}